/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .loader {
        background-size: 2rem;
      }
/* dropdown menu media css start */
.header-menu ul li ul {
	top:105%;
	left:120px;
	height: 251px;
	border-top-width: 0;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0, .1);
}
/* dropdown menu media css end */
/* slider media css start */
.slider-img {
    width: 100% !important;
}
.slider-heading{
    margin: 40px 0 !important;
}
.slider-heading h1 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 24px;
}
.slider-heading h3 {
	font-size: 18px;
}
.shop-btn {
	margin-bottom: 50px;
    margin-right: 3px;
    margin-left: 3px;
    font-size: 15px;
}
/* slider media css end */
.s-bottom {
	padding: 30px 0;
}

/* blog media css start */
.blog-text h2 {
	font-size: 26px;
}
/* blog media css end */

/* masonary grid media css start */
.masonary{
    column-count:1;
    column-gap: 16px;
}
/* masonary grid media css end */

/* product media css start */
.box img {
	margin: auto;
}
/* product media css end */

.header-wishlist{
    margin-right: 15px;
    margin-left: 10px;
}
.header-wishlist button {
	margin: 2px;
	width: 30px;
	height: 30px;
	line-height: 28px;	
}
.btn-bar {
	top: 57px;
	right: 0;
}

.product-one {
	padding-top: 30px !important;
}

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
/* dropdown menu media css start */
.header-menu ul li ul {
	top: 44%;
	left: 213px;
	height: 251px;
	border-top-width: 0;
    box-shadow: 4px 0 10px 2px rgb(0, 0, 0, .5);
}
/* dropdown menu media css end */
.btn-bar {
    top: 52px;
    right: 70px;	
}
/* slider media css start */
.slider-img {
    width: 100% !important;
}
.slider-heading{
    margin: 50px 0 !important;
}
/* slider media css end */

/* masonary grid media css start */
.masonary{
    column-count:2;
    column-gap: 16px;
}
/* masonary grid media css end */


}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
/* header media css start */
.header-wishlist {
	margin-right:90px;
	text-align: right !important;
}
.btn-bar {
	top: 52px;
	right: 70px;	
}
/* header media css end */

/* dropdown menu media css start */
.header-menu ul li ul {
	top: 44%;
	left: 213px;
	height: 251px;
	border-top-width: 0;
    box-shadow: 4px 0 10px 2px rgb(0, 0, 0, .5);
}
/* dropdown menu media css end */

/* slider media css start */
.slider-img {
    width: 100% !important;
}
.slider-heading{
    margin: 60px 0 !important;
}
/* slider media css end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
   
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }